<div class="flex flex-col w-72 divide-y divide-light-600">
    <div class="flex flex-col">
        <div class="flex flex-row px-3 py-6 justify-around align-middle">
            <div class="bg-light-600 h-12 w-12 rounded-lg"></div>
            <div class="text-1xl font-semibold text-light-500 px-3 my-auto">
                RabbitMQ-Web-UI
            </div>
        </div>
        <div class="flex w-full justify-center mb-6">
            <div class="w-4/5">
                <label for="search" class="hidden"></label>
                <div class="relative">
                    <input type="text" name="search" id="search"
                           placeholder="Search..."
                           class="w-full py-1 pl-10 pr-4 rounded-xl text-light-500 placeholder-light-500 border border-light-600 bg-dark-400 focus:outline-none focus:ring-2 focus:ring-accent-500">
                    <div class="flex items-center w-min absolute inset-0 left-0 pl-3 stroke-light-500">
                        <svg fill="none" stroke-linecap="round"
                             stroke-linejoin="round" stroke-width="1.5"
                             viewBox="0 0 24 24" class="w-5 h-5">
                            <path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div hx-boost="true" hx-target="#mid-col" class="flex flex-col flex-grow py-6 px-5 gap-y-3 items-center">
        {% for collection in collections %}
            <div class="flex flex-col h-min w-full">
                <div class="p-1 px-5
                    text-center whitespace-nowrap overflow-hidden text-ellipsis
                    rounded-xl text-light-500 border border-light-600 bg-dark-400
                    hover:bg-dark-300">
                    {{ collection.name }}
                </div>
                <div class="flex flex-col ml-3 border-l border-light-600">
                    {% for message in collection.messages %}
                        <a href="/message/{{ message.id }}" class="p-1 px-5 ml-5 mt-3
                        text-center whitespace-nowrap overflow-hidden text-ellipsis
                        rounded-xl text-light-500 border border-light-600 bg-dark-400
                        hover:bg-dark-300">
                            {{ message.name }}
                        </a>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
