<form
        class="flex flex-col divide-y divide-light-600 h-full"
        hx-post="/message"
        hx-ext="json-enc"
        hx-target="#send_button"
        hx-swap="outerHTML"
>
    <div class="py-3 px-5 flex flex-row">
        <div class="flex flex-col flex-1 basis-5/6">
            <p class="text-3xl font-semibold">{{ message.name }}</p>
        </div>
        <div class="flex flex-col flex-1 basis-1/6">
            {% include "common/send_button/send_button.html" %}
        </div>
    </div>

    <div class="flex flex-col flex-1 overflow-auto">
        <p class="my-3 mx-5 text-xl font-semibold text-light-500">Config</p>
        <div class="mx-5 flex flex-col h-15-8rem overflow-auto outline outline-1 outline-light-600 rounded-xl">
            <div class="flex flex-col flex-1 flex-wrap divide-y divide-light-600">
                {% include "common/settings_fields.html" %}
            </div>
        </div>

        <p class="my-3 mx-5 text-xl font-semibold text-light-500">Data</p>
        <div class="mx-5 mt-1 mb-5 flex flex-1">
            <label for="data" class="hidden"></label>
            <textarea name="data" id="data"
                      class="w-full h-full pt-1 px-2 text-light-500 border border-light-600 rounded-xl bg-dark-400 focus:outline-none focus:ring-2 focus:ring-accent-500 resize-none"
            >{% if message.body %}{{ message.body }}{% endif %}</textarea>
        </div>
    </div>
</form>
