__pycache__
.git
.dockerignore
.gitignore
.venv
venv
/env
Makefile
requirements-dev.txt
.idea/
.cache/
.coverage
.DS_Store
*.egg-info
*.pyc
*.log
*.egg
*.db
*.sqlite
*.pid
MANIFEST
pip-log.txt
/.artifacts
/coverage/
/cover
/build
/tmp
node_modules
/wheelhouse
/test_cli/
*.iml
.pytest_cache/
coverage.xml
