<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, viewport-fit=cover"/>
    <title>rabbitMQ</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/main.css') }}"
          type="text/css"/>
    <script src="https://unpkg.com/htmx.org@1.9.5"></script>
    <script src="https://unpkg.com/idiomorph/dist/idiomorph-ext.min.js"></script>

    <link rel="stylesheet" type="text/css"
          href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script type="text/javascript"
            src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
</head>

<body class="bg-dark-500 text-light-300 h-screen m-0 flex" spellcheck="false">
    <script src="{{ url_for('static', path='js/sidebar.js') }}"></script>

    <div class="flex flex-row flex-1 divide-x divide-light-800 overflow-auto">
        {% include "common/sidebar/sidebar.html" %}
        <div id="mid-col" class="flex flex-col flex-1 overflow-auto">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <script src="{{ url_for('static', path='js/errorHandler.js') }}"></script>
    <script src="{{ url_for('static', path='js/dropdown.js') }}"></script>
</body>
</html>
