<div class="relative inline-block text-left w-full mx-5 text-light-500 z-10">
    <button im-re-append='true' class="py-1 px-5 w-full rounded-xl border border-light-800 bg-dark-400
                    focus:border-opacity-0 focus:outline-none focus:ring-2 focus:ring-accent-500
                    hover:bg-dark-300 active:bg-dark-400"
            type="button"
            dropdown-button="sidebar-dropdown"
    >
        Add
    </button>
    <div class="w-full origin-top-right absolute mt-2 p-1 rounded-xl
                 bg-dark-400 border border-light-800
                 shadow-md hidden"
         role="menu"
         dropdown-menu="sidebar-dropdown"
    >
        <div role="none">
            <a hx-post="/message"
               hx-swap="innerHTML"
               hx-target="#mid-col"
               class="block px-4 py-2 text-sm text-light-500
                       rounded-xl hover:bg-dark-200 active:bg-dark-400 focus:outline-none
                       "
               role="menuitem">New Message
            </a>
            <a hx-post="/collection"
               hx-swap="innerHTML"
               hx-target="#mid-col"
               class="block px-4 py-2 text-sm text-light-500
                       rounded-xl hover:bg-dark-200 active:bg-dark-400 focus:outline-none
                       "
               role="menuitem">New Collection
            </a>
        </div>
    </div>
</div>
